@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');
*{
    margin: 0 !important;
    padding: 0 !important;
}

html{
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    
  } 
header{

    height: 100vh !important;
    width: 100% !important;

    background-image: url('./kepek/hatter.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container-fluid{
    width: 100% !important;
    height: 100vh !important;
    position: absolute;
    top:0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.233) !important;
    backdrop-filter: blur(10px);
}
body{
    background-color: rgba(177, 177, 177, 0.432);
    color: white !important;
}
#tartalom{
    padding-top: 30px !important;
}
.nav-link{
    color: white !important;
    padding: 10px !important;
    padding-left: 23px !important;
    padding-right: 23px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

nav{
  width: calc(100%-30px)!important;
  z-index: 1;
    padding:5px !important;
    margin:30px !important;
    background-color: rgba(0, 0, 0, 0.315) !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}
#nav{
  position: fixed !important;
 
  width: 100% !important;
 
}
#navhatter{
  background: linear-gradient(to bottom, black,);
}
#logo{
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
}
#zold{
    color: #085c00;
}

::-webkit-scrollbar {
    width: 8px;
  }
  

  ::-webkit-scrollbar-track {
    background: #545454;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #0a7c00;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #043500;
  }

.dropdown-menu{
  margin-top: 7.5px !important;
  transition: 0.4s all !important;
  backdrop-filter: blur(20px) !important;
  background-color: rgba(0, 0, 0, 0.315) !important;
   -webkit-transition: 0.4s all !important;
   -moz-transition: 0.4s all !important;
   -ms-transition: 0.4s all !important;
   -o-transition: 0.4s all !important;
   border-bottom-right-radius: 10px !important;
   border-bottom-left-radius: 10px !important;
}
.dropdown-item{
  transition: 0.4s all !important ;
  padding: 15px !important;
  color: white !important;
  border-left: 1px white solid;
  -webkit-transition: 0.4s all !important ;
  -moz-transition: 0.4s all !important ;
  -ms-transition: 0.4s all !important ;
  -o-transition: 0.4s all !important ;
}

.nav-item a:hover{
  transition: 0.4s all !important ;
color: #3bc600 !important;
}
.nav-item a {
  transition: 0.4s all !important ;
}
a.dropdown-item:hover{
  color: black !important;
}
.nav-link img{
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}
.navbar-brand img{
  margin-top: 5px !important;
}
.navbar-brand{
  color: white !important;
  font-weight: 550 !important;
}
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-1.5rem);
    opacity: 0;
    -webkit-transform: translateY(-1.5rem);
    -moz-transform: translateY(-1.5rem);
    -ms-transform: translateY(-1.5rem);
    -o-transform: translateY(-1.5rem);
}

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(-1.5rem);
    opacity: 0;
    -webkit-transform: translateY(-1.5rem);
    -moz-transform: translateY(-1.5rem);
    -ms-transform: translateY(-1.5rem);
    -o-transform: translateY(-1.5rem);
}
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.navbar-toggler-icon{
  margin: 8px !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgba(0,0,0,0)  !important;
}
.custom-toggler.navbar-toggler:active{
  border-color: rgba(0,0,0,0)  !important;
}
.custom-toggler.navbar-toggler :focus{
  border-color: rgba(0,0,0,0) !important;
}
#headertartalom .col{
  margin-top: 43vh !important;
  text-align: center !important;

}
#headertartalom .col-md{
  margin-top: 30vh !important;
}
#tartalom{
  padding: 70px !important;
  position: relative !important;
  min-height: 100vh !important;
  color: rgb(8, 8, 8) !important;
  border-top: solid #085f00 30px;
}
#headertartalom h1{
  color: #0a7400;
  
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content !important;
  margin:0 auto !important;
  font-size: 45px !important;
  text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
}
#headertartalom p{
  max-width: 400px;
  margin: 0 auto !important; 
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
}
#headertartalom button{
  transition: 0.5s all;
  color:white !important;
  margin-top: 5px !important;
  border-radius: 10px;
  padding: 10px !important;
  border: none !important;
  background: #064600;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
}
#headertartalom button:hover{
  transition: 0.5s all;
  background:  #0a7700;
}

footer{
  border-top: solid #054100 30px;
  background-color: #d6d6d6;
  height: 20vh !important;
}

.carousel img{
  max-width: 700px !important;
  height: auto !important;
  margin:0 auto !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
  border-radius: 40px !important;
  -webkit-border-radius: 40px !important;
  -moz-border-radius: 40px !important;
  -ms-border-radius: 40px !important;
  -o-border-radius: 40px !important;
}
.carousel-caption p{
  color: white !important;
}
.carousel-caption h5{
  font-weight: 550 !important;
}
.aktiv{
  background-color: #0000003a !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}