@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@font-face {
  font-family: 'Sansbold';
  src: url(./betutipusok/GeneralSans/GeneralSans-Semibold.ttf);
}
@font-face {
  font-family: 'Sansmedium';
  src: url(./betutipusok/GeneralSans/GeneralSans-Medium.ttf);
}
@font-face {
  font-family: 'Sansregular';
  src: url(./betutipusok/GeneralSans/GeneralSans-Regular.ttf);
}
@font-face {
  font-family: 'Manrope';
  src: url(./betutipusok/Manrope/manrope-medium.otf);
}
*{
    margin: 0 !important;
    padding: 0 !important;
}

html{
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    
  } 

:root{
  --bordercolor: rgba(0, 0, 0, 0.315);
}


header{

    height: 115vh !important;
    width: 100% !important;

    background-image: url('./kepek/hatter.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container-fluid{
    width: 100% !important;
    height: 115vh !important;
    position: absolute;
    top:0;
    left: 0;

    background-color: rgba(12, 12, 12, 0.219) !important;
    backdrop-filter: blur(10px);
}
.feherites{
  width: 100% !important;
  height: 115vh !important;
  position: absolute;
  top:0;
  left: 0;

  background:linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(243, 243, 243, 0.295), rgb(243, 243, 243));

}
body{
    background-color: rgba(228, 228, 228, 0.432);
    background-color: #f3f3f3 !important;
    overflow: hidden ;
}
#tartalom{
    padding-top: 30px !important;
}
.nav-link{
    color: rgb(32, 32, 32) !important;
    padding: 10px !important;
    padding-left: 23px !important;
    padding-right: 23px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

nav{
  width: calc(100%-30px)!important;
  z-index: 3;
    padding:5px !important;
    margin:25px !important;
    background-color: #f3f3f3 !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.151);
}
.fixed-top{
  z-index: 3 !important;
}

#logo{
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
}
#zold{
    color: #085c00;
}

::-webkit-scrollbar {
    width: 8px;
  }
  

  ::-webkit-scrollbar-track {
    background: #ececec;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
  

  ::-webkit-scrollbar-thumb:hover {
    background: #353535 ;
  }

.dropdown-menu{
  margin-top: 7px !important;
  transition: 0.4s all !important;
  backdrop-filter: blur(20px) !important;
  background-color: #f3f3f3 !important;
   -webkit-transition: 0.4s all !important;
   -moz-transition: 0.4s all !important;
   -ms-transition: 0.4s all !important;
   -o-transition: 0.4s all !important;
   border: none !important;
   border-bottom-right-radius: 15px ;
   border-bottom-left-radius: 15px ;
   box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.377);
}
.dropdown-item{
  transition: 0.4s all !important ;
  padding: 15px !important;
  color: rgb(26, 26, 26) !important;
  -webkit-transition: 0.4s all !important ;
  -moz-transition: 0.4s all !important ;
  -ms-transition: 0.4s all !important ;
  -o-transition: 0.4s all !important ;
  border-bottom-right-radius: 15px ;
  border-bottom-left-radius: 15px ;
}

.nav-item a:hover{
  transition: 0.4s all !important ;
  color: #1f6600 !important;
  -webkit-transition: 0.4s all !important ;
  -moz-transition: 0.4s all !important ;
  -ms-transition: 0.4s all !important ;
  -o-transition: 0.4s all !important ;
  
}
.nav-item a {
  
  transition: 0.4s all !important ;
}
a.dropdown-item:hover{
  color: rgb(37, 37, 37) !important;
  border-bottom-right-radius: 15px ;
  border-bottom-left-radius: 15px ;
}
.dropdown-item.active,.dropdown-item:active{
  background-color: white !important;

}

.nav-link img{
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}
.navbar-brand img{
  margin-top: 5px !important;
}
.navbar-brand div{
  display: inline !important;
  color: rgb(32, 32, 32) !important;
  font-weight: 550 !important;
  font-family: 'Sansmedium';
  transition: 0.5s !important;
}
.navbar-brand div:hover{
  transition: 0.5s !important;
  opacity: 0.6 !important;

}
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-1.5rem);
    opacity: 0;
    -webkit-transform: translateY(-1.5rem);
    -moz-transform: translateY(-1.5rem);
    -ms-transform: translateY(-1.5rem);
    -o-transform: translateY(-1.5rem);
}

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(-1.5rem);
    opacity: 0;
    -webkit-transform: translateY(-1.5rem);
    -moz-transform: translateY(-1.5rem);
    -ms-transform: translateY(-1.5rem);
    -o-transform: translateY(-1.5rem);
}
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.navbar-toggler-icon{
  margin: 8px !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgba(0,0,0,0)  !important;
}
.custom-toggler.navbar-toggler:active{
  border-color: rgba(0,0,0,0)  !important;
}
.custom-toggler.navbar-toggler :focus{
  border-color: rgba(0,0,0,0) !important;
}
#headertartalom .col{
  margin-top: 43vh !important;
  text-align: center !important;

}
#headertartalom .col-md{
  margin-top: 30vh !important;
}
#tartalom{
  padding: 70px !important;
  position: relative !important;
  min-height: 100vh !important;
  color: rgb(8, 8, 8) !important;

}
#headertartalom h1{
  color: #ececec;
  font-family: 'Sansbold';
  
  width: fit-content !important;
  margin:0 auto !important;
  font-size: 45px !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.527);
}
#headertartalom p{
  max-width: 400px;
  margin: 0 auto !important; 
  font-family: 'Sansregular';
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.582) !important;
  margin-bottom: 15px !important;
}
 .gomb{
  transition: 0.5s all;
  color:white !important;
  margin-top: 5px !important;
  border-radius: 10px;
  font-family: 'Sansregular';
  padding: 12px !important;
  border: none !important;
  background: #023100 !important;

 

  margin-left: 4px !important;
  margin-right: 4px !important;
  box-shadow:  5px 5px 10px #2222227c,
               -5px -5px 10px #2020207a;
}
 .gomb:hover{
  transition: 0.5s all;
  background:  #075000 !important;
  text-decoration: none !important;



}
#headertartalom .col-md{
  width: fit-content !important;
  color: #ececec!important;
}
#headertartalom .col-md h2{
position: relative !important;
margin-left: clamp(5vw,7vw,7vw) !important;
font-weight: 550 !important;
 text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.527);
}



.carousel-caption p{
  text-align: left !important;
  float: left !important;
}
.carousel img{
  max-height: 39.88035892323031vh !important;
  width: 36.458333333333336vw!important;
  image-orientation: from-image !important;
  margin:0 auto !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
  border-top-right-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
  border-top-left-radius: 40px !important;
  transition: all 0.7s ease;
  filter: brightness(70%) !important;
  -webkit-filter: brightness(70%) !important;
}

.carousel{

  margin: 10px 20px 10px 20px !important;
  transition: all 0.7s ease;
}
.carousel-caption p{
  color: white !important;
  width: 100%!important;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.411);
  background-color: rgba(0, 0, 0, 0.466);
  padding:5px !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.carousel-caption h5{
  color: rgb(245, 245, 245) !important;
  font-weight: 800 !important;
   text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.411);
   text-align: left !important;
   font-family: 'Sansbold' !important;
   
}
.carousel-inner{
  transition: 0.5s all !important;
  -webkit-transition: 0.5s all !important;
  -moz-transition: 0.5s all !important;
  -ms-transition: 0.5s all !important;
  -o-transition: 0.5s all !important;
}
#balra img, #jobbra img{
  width: 25px !important;
  height:25px !important;
  box-shadow: none !important;
  margin-top: 13px !important;
}
#balra, #jobbra{
  background-color: rgb(255, 255, 255) !important;
  padding: 5px !important;
  opacity: 1 !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
#balra{
  border-top-left-radius: 50px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 50px !important;
  border-bottom-right-radius: 10px !important;
  height: 60px !important;
}
#jobbra{
  border-top-left-radius: 10px !important;
  border-top-right-radius: 50px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 50px !important;
  height: 60px !important;
}
.aktiv{
transition: 0.5s all !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
  border-radius: 23px;
  background: #f7f7f7;
  box-shadow:  6px 6px 10px #cbcbcb5e,
               -6px -6px 10px #ffffffd0;
             
}

.aktiv:hover{
  transition: 0.5s all !important;
  background: #f5f5f5;
  
}

.aktivdropdown{
  background-color: rgba(87, 87, 87, 0.055) !important;

}


#tartalom .col{
  min-height: 40vh !important;
  margin: 20px !important;
  text-align: center !important;
}

@media only screen and (max-width: 548px) {
  #col2, #col{
    border: none !important;
  }
}
footer{
 
  margin-top: 50px !important;
   border-top-right-radius: 25px ;
   border-top-left-radius: 25px ;
   
   background-color: #f3f3f3 !important;
   box-shadow:  -5px -5px 20px #a8a8a871,
                5px 5px 20px #f1f1f141;
   height: 20vh !important;
 }
footer .col-sm h4{
  text-align: center !important;
  background-color: #f3f3f3 !important;
  border-radius: 15px !important;
  padding: 10px !important;
  width: fit-content;
  margin:0 auto !important;
  margin-top: 20px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  min-width: 200px !important;

  color:#292929 !important;
}
footer .col-sm{
    border: none !important;
    text-align: center !important;
    margin-top: 20px !important;

}
footer{
  height: fit-content !important;
}

@media only screen and (max-width: 600px) {
  #headertartalom p{
    max-width: 80% !important;
  }
}
@media only screen and (max-width: 990px) {
  .dropdown-menu{
    border: none !important;
    box-shadow: none !important;
  }
  .dropdown-item{
    border: none !important;
    border-radius: 15px !important
  }
  .dropdown-menu{
    background-color: rgba(255, 255, 255, 0) !important;
  }
}
.custom-toggler .navbar-toggler-icon:active{
  border: none !important;
 
}
.navbar-light .navbar-toggler-icon:active{
  border: none !important;
}
.custom-toggler.navbar-toggler :focus{
  border: none !important;
}

.navbar-brand div{
  font-family: "Manrope" !important;
}
#fooldal h1{
  font-weight: 600 !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.418);
 
}
#fooldal h1, #fooldal h2{
  max-width: 800px !important;
  margin:0 auto !important;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.418);
}
#fooldal p{
  max-width: 700px !important;
  margin: 0 auto !important;
  font-size: 20px !important;
  margin-top: 15px !important;
  text-align: left !important;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.178);
}
#fooldal img{
  max-width: 80% !important;
  height: auto !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;

  -o-border-radius: 20px !important;
  box-shadow:  6px 6px 12px #b9b9b9,
  -6px -6px 12px #ffffff;
}
@media only screen and (min-width: 990px) {
  .dropdown-menu{
    width:200px !important;}
    #fooldal #img1{
      border-top-left-radius: 50px !important;
      border-top-right-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
      border-bottom-right-radius: 50px !important;
   
    }
    #fooldal #img2{
      border-top-right-radius: 50px !important;
      border-top-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      border-bottom-left-radius: 50px !important;
    
    }

}
#fooldal h2{
  font-weight: 600 !important;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
#fooldal li{
 text-align: left !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  font-size: 24px !important;
  font-weight: 550 !important;
  margin-top: 20px !important;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.418);
}
#fooldal ul{
  margin-bottom: 50px !important;
}
@media only screen and (max-width: 990px) {
  #tartalom{
    padding: 20px !important;
  }
}
#elerhetosegek{
  display:inline-flex;
  box-shadow:  6px 6px 12px #cbcbcb,               -6px -6px 12px #ffffff;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
#elerhetosegek img{
  width: 20px;
  height: 20px;
 
  margin: 25px !important;

}
#elerhetosegek li{
  transition: 0.5s all !important;
  list-style-type: none !important;
  -webkit-transition: 0.5s all !important;
  -moz-transition: 0.5s all !important;
  -ms-transition: 0.5s all !important;
  -o-transition: 0.5s all !important;
}
#elerhetosegek li:hover{
  cursor: pointer !important;
  box-shadow: inset 0.3px 0.3px 8px #B3B3B3, inset -0.3px -0.3px 8px #FFFFFF;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
background-color: #ebebeb;
}
footer .row{
  margin-bottom: 40px !important;
}
#celunk{

  box-shadow:  6px 6px 12px #cbcbcb,               -6px -6px 12px #ffffff;
  max-width: 600px !important;
  margin: 20px !important;
  margin:0 auto !important;
  
  padding: 10px !important;

  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;

}
#col2{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-right: 50px !important;
  margin-left: 50px !important;
}
#col{
  margin: 20px !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

#calculator img{
  margin-left: 5px !important;
  margin-right: 5px !important;
}
#calculator label{
  text-align: left !important;
}

#betolto {

  width: 8px;
  height: 48px;
  display: block;
  margin: auto;

  z-index: 2001;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s ease-out;
  margin-top: -44px !important;
  margin-left: -44px !important;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

#betolto.eltunes{
  opacity:0;
  transition: 0.7s !important;
  -webkit-transition: 0.7s !important;
  -moz-transition: 0.7s !important;
  -ms-transition: 0.7s !important;
  -o-transition: 0.7s !important;
  z-index: 0 !important;
}
#betolt.eltunes{
  opacity:0;
  transition: 0.7s !important;
  -webkit-transition: 0.7s !important;
  -moz-transition: 0.7s !important;
  -ms-transition: 0.7s !important;
  -o-transition: 0.7s !important;
   z-index: 0 !important;
}
@keyframes animloader {
  0% {
    box-shadow: 20px 0 rgba(255, 255, 255, 0.25), 40px 0 rgb(0, 0, 0), 60px 0 rgb(0, 0, 0);
  }
  50% {
    box-shadow: 20px 0 rgb(0, 0, 0), 40px 0 rgba(255, 255, 255, 0.25), 60px 0 rgb(0, 0, 0);
  }
  100% {
    box-shadow: 20px 0 rgb(0, 0, 0), rgb(0, 0, 0)0 rgb(0, 0, 0), 60px 0 rgba(255, 255, 255, 0.25);
  }
}
  #betolt{
    height: 100vh;
    background-color: #e4e4e4;
    position: absolute;
    top: 0;
    width: 100% !important;
    left: 0;
    z-index: 2000;
  }
